/*build*
*~
CMakeFiles
Makefile
cmake_install.cmake
*.a
*.o
*.so
CMakeCache.txt

test/MnSim/DemoFumili
test/MnSim/DemoGaussSim
test/MnSim/ParallelTest
test/MnSim/PaulTest
test/MnSim/PaulTest2
test/MnSim/PaulTest3
test/MnSim/PaulTest4
test/MnSim/ReneTest
test/MnSim/demoMinimizer
test/MnTutorial/Quad12F
test/MnTutorial/Quad1F
test/MnTutorial/Quad4F
test/MnTutorial/Quad8F

*.egg-info
/*venv*
